<!DOCTYPE html>
<head>
  <title>Bus Board</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container is-fluid">
    <h1 class="title">Your Personal Bus Board</h1>
    <div class="block">
      <%= form_with(method: "get", url: "/") do |form| %>
        <div class="field"
        <%= form.label(:postcode, :required => true, :class => "label") %><br>
        <%= form.text_field(:postcode, :class => "input" + (@postcode_error_msg.nil? ? "" : " is-danger"), :pattern => "^([a-zA-Z]{1,2}[a-zA-Z\\d]{1,2})\\s?(\\d[a-zA-Z]{2})$") %>
        <% unless @postcode_error_msg.nil? %>
          <div class="error-prompt">
            <%= @postcode_error_msg %>
          </div>
        <% end %>
        </div>
        <div class="block">
          <%= form.submit("Search", :class => "button")  %>
        </div>
      <% end %>
      </div>


    <% @bus_stop_arrivals_infos.each do |bus_stop_arrivals_info| %>
      <div class="block">
        <h2 class="subtitle"><%= bus_stop_arrivals_info.stop_name %></h2>
        <table class="table">
          <thead>
          <tr>
            <th>
              Line Name
            </th>
            <th>
              Destination
            </th>
            <th>
              Expected Arrival (Mins)
            </th>
          </tr>
          </thead>
          <tbody>
          <% bus_stop_arrivals_info.bus_arrivals.each do |arrival| %>
            <tr>
              <td class="tfl container">
                <span class="tfl-bus-icon">
                  <%= arrival.line_number %>
                </span>

              </td>
              <td class="tfl">
                <%= arrival.destination %>
              </td>
              <td>
                <%= arrival.mins_to_arrive %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    <% end %>
  </div>


</body>

